# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# Logs
*.log

# Local settings
.DS_Store
